<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %msg - %logger{80}%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/posapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/recharge-%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %msg - %logger{80}%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="WARN"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <!--<logger name="net.sf.json" level="WARN"/>-->
    <!--<logger name="com.jolbox" level="debug"/>-->

    <logger name="org.hibernate" level="WARN"/>
    <!--<logger name="org.apache.shiro" level="debug"/>-->
    <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />-->
    <!--<logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />-->
    <!--<logger name="org.hibernate.SQL" level="DEBUG" />-->
    <!--<logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />-->
    <!--<logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />-->
    <!--<logger name="org.hibernate.cache" level="DEBUG" />-->


</configuration>